out/
.idea/
/lib/
/src/poc/testpickle
/src/poc/testpickle.bz
*.jar
*.iml
/.venv/
output/

# The sites would prefer that you don't check in their input: You can download them from the sites and place them here.
**/aoc-input/
**/pe-input/
